DROP DATABASE phongkham

CREATE DATABASE phongkham

USE phongkham

CREATE TABLE Customer (
	Id INT IDENTITY(1,1) PRIMARY KEY,
	Name NVARCHAR(250),
	YOB INT,
	AddressCus NVARCHAR(250),
	DayVisit DATE,
	ExpectedDOB DATE,
	Result NVARCHAR(250),
	Note NVARCHAR(250)
)

CREATE TABLE KetQuaSieuAm (
	ID INT PRIMARY KEY NOT NULL,
	Name NVARCHAR(100) NOT NULL,
	OrderNumber INT NOT NULL,
	FormID INT NOT NULL
)

INSERT INTO KetQuaSieuAm VALUES (1, N'Thai dưới 12T', 1, 1)
INSERT INTO KetQuaSieuAm VALUES (2, N'Thai dưới 12T - Dọa sảy', 2, 1)
INSERT INTO KetQuaSieuAm VALUES (3, N'Thai 12T - 14T', 3, 2)


CREATE TABLE KetQuaSieuAm_Content (
	OrderNumber INT,
	Class1 NVARCHAR(250),
	Class2 NVARCHAR(250),
	KqsaId INT
	CONSTRAINT PK_KetQuaSieuAmContent PRIMARY KEY(OrderNumber, KqsaId)
	CONSTRAINT FK_KetQuaSieuAmContent FOREIGN KEY (KqsaId) REFERENCES KetQuaSieuAm(ID)
)

INSERT INTO KetQuaSieuAm_Content VALUES (
	1,
	N'tình trạng thai',
	NULL,
	1
)
INSERT INTO KetQuaSieuAm_Content VALUES (
	2,
	N'- Tử cung:',
	N'Buồng tử cung có 01 thai',
	1
)
INSERT INTO KetQuaSieuAm_Content VALUES (
	3,
	N'- Cử động thai:',
	N'(+)',
	1
)
--
--
--
--
--
--
--
--

--

--
--

SELECT ID, Name FROM KetQuaSieuAm ORDER BY OrderNumber
SELECT Class1, Class2 FROM KetQuaSieuAm_Content WHERE KqsaId = ? ORDER BY OrderNumber
SELECT Form FROM KetQuaSieuAm WHERE ID = ?



--
INSERT INTO Customer VALUES(
	N'Nguyễn Văn A',
	1998,
	N'An Lão',
	'2018/05/30',
	'2018/06/25',
	N'Thai tuần',
	N't'
)
